# ----------------------------------------------------------------------------
# Templates for RBG (Rundbrief Generator)
# ----------------------------------------------------------------------------
# 2025-08-17 V0.1 Initial creation
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# Template to show a page
# ----------------------------------------------------------------------------
<template id="RBG.Page.Template">
  <template id="Body"></template>
  <div id="RBG.Page.Div" style="width:100%;height:100%;border:1px solid silver;margin:0px;padding:2px;">
    <canvas id="RBG.Page.Canvas" style="width:100%;height:100%;">
  </div>
</template>