# ----------------------------------------------------------------------------
# Templates for RBG (Rundbrief Generator)
# ----------------------------------------------------------------------------
# 2025-08-17 V0.1 Initial creation
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# Template to show a page
# ----------------------------------------------------------------------------
<template id="RBG.page.Template">
  <template id="Body"></template>
  <div id="RBG.page" style="width:100%;border:1px solid silver;margin:4px;padding:2px;">
    <canvas id="RBG.page.canvas" width=1400 height=630 />
  </div>
</template>